<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.LewisCloud.mapper.ProjectMapper">

    <resultMap id="projectMap" type="com.LewisCloud.pojo.Project">
        <result property="workerMaxNum" column="worker_max_num" javaType="int"/>
        <result property="photosPath" column="photos_path" javaType="string"/>
        <result property="cocoPath" column="coco_path" javaType="string"/>

        <association property="manager" column="manager_id" javaType="com.LewisCloud.pojo.User" select="getManager"/>

        <collection property="worker" column="worker_id" ofType="com.LewisCloud.pojo.User" select="getWorker"/>
    </resultMap>

    <select id="getManager" resultType="com.LewisCloud.pojo.User">
        select
        user.id as id,
        user.username as username,
        user.identity as identity,
        user.email_address as emailAddress,
        user.phone_number as phoneNumber
        from user
        where id = #{manager_id}
    </select>

    <select id="getWorker" resultType="com.LewisCloud.pojo.User">
        select
        user.id as id,
        user.username as username,
        user.identity as identity,
        user.email_address as emailAddress,
        user.phone_number as phoneNumber
        from user
        where id = #{worker_id}
    </select>

<!--    select-->
    <select id="getAllProject" resultMap="projectMap">
        select id, state, introduction, worker_max_num
        from project
    </select>

    <select id="getProjectById" resultMap="projectMap">
        select *
        from project left join worker_project on project.id = worker_project.project_id
        where id = #{id}
    </select>

<!--    insert-->
    <insert id="addProject" parameterType="com.LewisCloud.pojo.Project" useGeneratedKeys="true" keyProperty="id">
        insert into project(manager_id, state, title, introduction, worker_max_num, photos_path, coco_path)
        values (#{project.manager.id}, #{project.state}, #{project.title}, #{project.introduction},
               #{project.workerMaxNum}, #{project.photosPath}, #{project.cocoPath})
    </insert>

</mapper>